# ignore data extractions
/data/

# ignore outputs
/results/
/report/

# ignore 
/background/
/notes/
/planning/

# ignore accidental R session saves
.Rhistory

# ignore hyperlinks
*.lnk

# ignore temporary .emacs backups
.\#*
\#*\#

# ignore files related to compiled TMB model
*.dll
*.o